extends layout

block content
  section#chatRoom
    div#messages
    input#message(type='text',placeholder='Enter the Message here')
    input#send(type='button',value='Send')
block append head 
  script(type='text/javascript',src='/socket.io/socket.io.js')
  script(type='text/javascript',src='/javascripts/chat.js') 

