extends layout

block content
  
  div#nameform.modal.show
    div.modal-header
      h3 Please Enter your Name 
    div.modal-body
      input#nickname(type='text')
   
      input#setname.btn.btn-primary(type='button',value="Set Name",style="margin-bottom:7px;margin-left:7px;")
    div.modal-footer
  div#chatRoom.hide
    div#messages
    input#message(type='text',placeholder='Enter the Message here')
    input#send.btn(type='button',value='Send',style="margin-bottom:7px;")
 


