doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

  body
    script(type='text/javascript',src="/javascripts/jquery.js")
    script(type='text/javascript',src="/javascripts/bootstrap.js")
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript',src='/javascripts/chat.js') 
    header#banner
      h1 Rao's Chat Arena
    block content
      footer Have Fun!!!!!!!
