doctype 5
html
  block head
    title= title
    src(type='text/javascript',src='../public/javascripts/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
  body
    header#banner
      h1 Rao's Chat Arena
    block content
      footer Have Fun!!!!!!!
