doctype 5
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src="/javascripts/jquery.js")
  body
    header#banner
      h1 Rao's Chat Arena
    block content
      footer Have Fun!!!!!!!
